@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #171717;
  --font-nunito: 'Nunito', sans-serif;
  --font-pt-sans: 'PT Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito);
}

p {
  font-family: var(--font-pt-sans);
}

